body {
    background-color: #232323;

}

h1 {
    color: whitesmoke;
}

span {
    color: whitesmoke;
}
.square {
    width: 30%;
    background-color: lightblue;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    margin: 0 px auto;
    max-width: 600px;
}